{% extends 'pages/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <div class="sw-custom-container">
        <dl class="list-features">
            <dt>
                <i class="far fa-paper-plane"></i>
                Send me an email
            </dt>
            <dd>
                <form action="{% url 'contact-me' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% render_field field class='form-control' %}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-outline-success">Send</button>

                </form>
                <small>You can send directly to <a href="mailto:{{ email.address }}">{{ email.address }}</a></small>
            </dd>

        </dl>
    </div>
{% endblock %}