{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="sw-custom-container">
        <div class="top-cover">
            <img src="{% static 'image/intro-cutout.png' %}" alt="selfie">
        </div>
        <div class="top-cover-small">
            <img src="{% static 'image/intro-cutout-small.png' %}" alt="selfie">
        </div>

        <dl class="list-features">
            <dt class="even">
                <i class="fab fa-python"></i>
                Python & Django
            </dt>
            <dd class="even">
                <p>I've been coding in Python since 2018 and Django has been my go-to framework. With Django I
                    can start from scratch and complete a full-stack project. <br>
                    If you're looking for someone specialized in back-end API build, I am also experienced in building
                    it with Django Rest Framework.
                </p>
                <a class="link-readmore" href="#">Take a look at my sample API</a>
            </dd>

            <dt>
                <i class="fab fa-aws"></i>
                Amazon Web Service Certified
            </dt>
            <dd>
                <p>I am a certified <em>AWS Solutions Architect - Associate</em>. </p>
            </dd>


            <dt class="even">
                <i class="fas fa-code-branch"></i>
                Work Experience
            </dt>
            <dd class="even">
                <ul class="short-list">
                    <li><b>Web Developer</b> (2019) <br class="rsp-break"/>@ <em>Marshall Goldsmith Coaching</em></li>
                    <li><b>CRM Manager</b> (2015 - 2018) <br class="rsp-break"/>@ <em>World Vision Korea</em></li>
                    <li><b>Junior Officer</b> (2011 - 2014) <br class="rsp-break"/>@ <em>Republic of Korea Air
                        Force</em></li>
                </ul>
            </dd>
            <dt>
                <i class="fas fa-graduation-cap"></i>
                Education
            </dt>
            <dd>
                <ul class="short-list">
                    <li><b>Web Developer Boot Camp</b> (2018) <br class="rsp-break"/>@ <em>Fast Campus</em></li>
                    <li><b>Bachelor of Computer Science</b> (2007 - 2011) <br class="rsp-break"/>@ <em>University of
                        Southern Queensland</em></li>
                </ul>
            </dd>
        </dl>
        <div class="section">
            <a href="{% static 'download/CV_SeongwonHan.pdf' %}" class="cta" download="seongwonhan_resume">Download my <em>Resumé</em></a>
        </div>
        <a href="#top" class="backtotop"><i class="fas fa-chevron-up"></i> Back to Top</a>
    </div>
{% endblock %}

