{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="sw-custom-container">

        <dl class="list-features">
            <dt style="{{ style }}">
                <img src="{% static 'image/selfie.jpeg' %}" alt="selfie"> About Me
            </dt>
            <dd>
                <ul class="short-list">
                    <li><b>Name, Age</b> : <em>Seongwon Han, {{ age }}</em></li>
                    <li><b>Position</b> : <em>Web/Back-end Developer</em></li>
                    <li><b>Location</b> : <em>Ann Arbor, Michigan, USA</em></li>
                </ul>
            </dd>
            <dt class="even">
                <i class="fas fa-code-branch"></i>
                Work Experience
            </dt>
            <dd class="even">
                <ul class="short-list">
                    <li><b>Back-end Developer</b> (2019) <br class="rsp-break" />@ <em>Marshall Goldsmith Coaching</em></li>
                    <li><b>CRM Manager</b> (2015 - 2018) <br class="rsp-break" />@ <em>World Vision Korea</em></li>
                    <li><b>Junior Officer</b> (2011 - 2014) <br class="rsp-break" />@ <em>Republic of Korea Air Force</em></li>
                </ul>
            </dd>
            <dt>
                <i class="fas fa-laptop-code"></i>
                Education
            </dt>
            <dd>
                <ul class="short-list">
                    <li><b>Web Developer Boot Camp</b> (2018) <br class="rsp-break" />@ <em>Fast Campus</em></li>
                    <li><b>Bachelor of Computer Science</b> (2007 - 2011) <br class="rsp-break" />@ <em>University of Southern Queensland</em></li>
                </ul>
            </dd>
        </dl>
                <div class="section">
            <a href="#" class="cta">Download my <em>Resumé</em></a>
        </div>
        <a href="#top" class="backtotop"><i class="fas fa-chevron-up"></i> Back to Top</a>
    </div>
{% endblock %}

