{% extends 'base.html' %}
{% block content %}
    <div class="copy-banner">
        <div class="container">
            <h1 class="sw-custom-banner">A <em>REALISTIC APPROACH</em> TO THE PROBLEM GIVES STRONG FOUNDATION TO A
                <em>RELIABLE SOLUTION</em>. </h1>
        </div>
    </div>


    <div class="sw-custom-container">
        <div class="sw-custom-intro">
            <h1>Why realistic approach?</h1>
            <p>Because it will keep you in the long run. <i class="fas fa-running"></i></p>
        </div>
        <hr>
        <div class="sw-custom-container-left">
            <img src="" alt="icon balance" style="width: 200px; height: 200px; background: darkgray">
        </div>
        <div class="sw-custom-textbox-right">
            <h2>Cost, Timeline, and Features</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi atque beatae consequatur dolor, earum
                facilis ipsa ipsam iste labore laboriosam libero quae, rem repellendus repudiandae sint tempore, tenetur
                voluptatibus!</p>
            <a class="link-readmore" href="#">See how fast you can start building</a>
        </div>

        <hr>

        <div class="sw-custom-container-right">
            <img src="" alt="icon balance" style="width: 200px; height: 200px; background: darkgray">
        </div>
        <div class="sw-custom-textbox-left">
            <h2>Stable Operation</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur assumenda beatae consectetur
                error facilis fugit id molestias odio omnis quia quo sint veniam, voluptatem voluptates. Atque illo
                nostrum rem.</p>
            <a class="link-readmore" href="#">See how fast you can start building</a>
        </div>

        <hr>

        <div class="sw-custom-container-left">
            <img src="" alt="icon balance" style="width: 200px; height: 200px; background: darkgray">
        </div>
        <div class="sw-custom-textbox-right">
            <h2>Cost, Timeline, and Features</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi atque beatae consequatur dolor, earum
                facilis ipsa ipsam iste labore laboriosam libero quae, rem repellendus repudiandae sint tempore, tenetur
                voluptatibus!</p>
            <a class="link-readmore" href="#">See how fast you can start building</a>

        </div>

        <hr>

        <div class="sw-custom-container-right">
            <img src="" alt="icon balance" style="width: 200px; height: 200px; background: darkgray">
        </div>
        <div class="sw-custom-textbox-left">
            <h2>Stable Operation</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur assumenda beatae consectetur
                error facilis fugit id molestias odio omnis quia quo sint veniam, voluptatem voluptates. Atque illo
                nostrum rem.</p>
            <a class="link-readmore" href="#">See how fast you can start building</a>

        </div>


    </div>


{% endblock %}