{% extends 'base.html' %}
{% block content %}
    <div class="copy-banner">
        <div class="container">
            <h1 class="sw-custom-banner">A <em>REALISTIC APPROACH</em> TO THE PROBLEM GIVES STRONG FOUNDATION TO A
                <em>RELIABLE SOLUTION</em>. </h1>
        </div>
    </div>


    <div class="sw-custom-container">
        <role role="main">
            <h1>Why realistic approach?</h1>
            <p>Because it will keep you in the long run. <i class="fas fa-running"></i></p>
        </role>
    </div>


{% endblock %}