{% extends 'base.html' %}
{% block content %}

    <div class="sw-custom-container">
        <div class="sw-custom-intro">
            <h1>Build your service the right way</h1>
            <p>Because it will keep you in the long run. <i class="fas fa-running"></i></p>
        </div>

        <dl class="list-features">
            <dt>
                <i class="fas fa-calculator"></i>
                Cost, Time, and Functions
            </dt>
            <dd>
                <p>To build or upgrade a web service requires a good strategy; how much is your budget? how much time do
                    you have? what kind of functions do you require? <br>
                    Orchestrating your budget, timeline, and required functions is my number one task for your project.
                </p>
                <a class="link-readmore" href="#">Submit a request to get started</a>
            </dd>
            <dt class="even">
                <i class="fab fa-python"></i>
                Strong Back-end
            </dt>
            <dd class="even">
                <p>I'm a back-end driven developer. Reliability and efficiency are necessities for a web service and I
                    am here to build something that can last.<br>
                </p>
                <a class="link-readmore" href="#">Take a look at sample REST API</a>
            </dd>
            <dt>
                <i class="fas fa-paperclip"></i>
                Documentation
            </dt>
            <dd>
                <p>A good documentation can provide clear vision of the final product and how it is developed. <br>
                    Having the military officer background, I write clean documentation for all my projects.
                </p>
                <a class="link-readmore" href="#">Take a look at sample readme</a>
            </dd>
        </dl>
        <div class="section">
            <a href="#" class="cta">Get started <em>with Django</em></a>
        </div>
        <a href="#top" class="backtotop"><i class="fas fa-chevron-up"></i> Back to Top</a>
    </div>


{% endblock %}